.axis--x .tick text{
    font-size:1em;
    text-anchor:start;
    transform:rotate(45deg) ;
}

rect{
    fill:#eee;
}

.yLabel{
    fill:#ccc;
}

.xLabel{
    fill:#ccc;
}

.setName{
    font-size:12px;
    font-family: Georgia, "Times New Roman";
    fill: #888888;
}