.sideBar{
    float:right;
    margin-top: 10vh;
    max-width:300px;
}

.switchYAxis{
    background-color: #569242;
    font-size:18px;
    font-weight:600;
    color: #bdd906;
    padding:6px;
    border-radius:4px;
    margin: 12px;
    border: 3px solid silver;
    outline: 1px solid black;
}

.dataLoadedConfirmation{
    background-color: #5c8092;
    font-size:22px;
    font-weight:600;
    color: #bdd906;
    border-radius:4px;
    margin: 8px;
    padding:4px;
    border: 3px solid silver;
    outline: 1px solid black;
    min-width:40%;
}

.switchDataButton{
    border:none;
    background:none;
    color:inherit;
    outline:inherit;
}

.dataLoadedText{
    margin-bottom:6px;
}

.dataLoadedMenu{
    display:flex;
}

@media (max-width: 1000px) {
    .sideBar{
        margin-top:0;
    }
}